.borderline{
    border: 3px solid rgb(82, 189, 153);
    margin-top: 5px;
}

header{
    width: 99.1%;
    height: 85px;
}

nav{
    width: 99.1%;
    height: 85px;
}

aside{
    float: left;
    width: 49.1%;
    height: 60vh;
    margin-right: 6px;
    line-height: 300px; 
}

footer{
    width: 99.1%;
    height: 85px;
    float: left;
}